.wireframe-grey-border {
    border: 1px grey solid;
}

#left-navbar {
    padding-left: 20px;
    padding-top: 5px;
}

#left-navbar > div > .row {
    border: 1px lightgray solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tuit-button {
    border: none;
    padding-top: 5px;
}

#middle-content {
    padding-top: 5px;
    padding-left: 50px;
}

.search-bar {
    border: 1px grey solid;
    border-radius: 50px;
}

#search-icon {
    padding-left: 10px;
    padding-top: 10px;
}

#search-bar-text {
    padding-right: 50px
}

#middle-content-tabs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.featured-content-tab {
    border: 1px lightgray solid;
}

.content-text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-topic {
    color: gray;
}

.content-header {
    font-weight: bold;
}

.content-timestamp {
    color: gray;
}

.content-body {
    font-weight: bold;
}

.content-tuit-count {
    color: gray;
}

.featured-content-image {
    width: 125px;
    height: 125px;
    border-radius: 30px;
}

#right-suggestions {
    padding-top: 5px;
    padding-left: 5px;
}

#suggestions-title {
    font-weight: bold;
    border: 1px lightgray solid;
    padding-left: 10px;
}

.suggestion {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px lightgray solid;
}

.suggestion-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.suggestion-header {
    font-weight: bold;
}

.suggestion-handle {
    color: gray;
}

.follow-btn {
    padding-top: 3px;
}